@mixin font-face($font-family, $font-style, $font-weight, $font-path-woff2) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
    src: local($font-family), url($font-path-woff2) format("woff2");
  }
}
