//FONTS

$base-font: "Lato", "Arial", sans-serif;
$accent-font: "Oswald", "Arial", sans-serif;

// VIEWPORTS

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// COLORS

$content-text-color: #444444;
$accent-text-color: #000000;
$accent-bg-color: #68b738;
$accent-bg-color-hover: #5eaa2f;
$white-color: #ffffff;
$disabled-bg-color: #f2f2f2;
$grey-bg-color: #666666;
$grey-bg-secondary-color:#eaeaea;
$grey-color-3: #e6e6e6;
