//FONTS

$base-font: "Lato", "Arial", sans-serif;
$accent-font: "Oswald", "Arial", sans-serif;

// COLORS

$content-text-color: #444444;
$accent-text-color: #000000;
$accent-bg-color: #68b738;
$accent-bg-color-hover: #5eaa2f;
$white-color: #ffffff;
$disabled-bg-color: #f2f2f2;
