//FONTS

$base-font: "Lato", "Arial", sans-serif;
$accent-font: "Oswald", "Arial", sans-serif;

// VIEWPORTS

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// COLORS

$content-text-color: #444444;
$accent-text-color: #000000;
$accent-color: #68b738;
$accent-hv-color: #5eaa2f;
$white-color: #ffffff;
$grey-f2-color: #f2f2f2;
$grey-66-color: #666666;
$grey-ea-color: #eaeaea;
$grey-e6-color: #e6e6e6;
$grey-d9-color: #d9d9d9;
$grey-cd-color: #cdcdcd;
