.cooperation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $disabled-bg-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
