.cooperation {
  background-color: $disabled-bg-color;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
  }
}
