.header {
  color: #ffffff;
  min-width: 320px;
  min-height: 66px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-height: 100px;
  }

  @media (min-width: $desktop-width) {
    min-height: 169px;
  }
}
