.location {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location__address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    padding: 62px 45px 62px 80px;
  }
}

.location__slogan {
  @include basic-text-param($accent-font, 16px, 20px, $accent-text-color);
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 235px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
  }
}

.location__residence {
  @include basic-text-param($base-font, 14px, 20px, $content-text-color);
  font-style: normal;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 190px;
    text-align: right;
    letter-spacing: 0.1px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__residence span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 23px;
  }
}

.location__img {
  display: block;
  margin: 0 auto;
}
