.nav {
  display: none;
}

.nav__list {
  @include list-style-none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $accent-text-color;

  padding-top: 22px;
  padding-bottom: 23px;
  display: block;
}

@media (max-width: $mobile-width-only) {
  .nav--open {
    display: block;
    position: absolute;
    background-color: $white-color;
    width: 100%;
  }

  .nav--nojs {
    display: block;
    position: static;
  }

  .nav__item {
    border-top: 1px solid $grey-e6-color;
    width: 100%;
    display: flex;
    justify-content: center;


    &:last-of-type {
      border-bottom: 1px solid $grey-e6-color;
    }
  }

  .nav__link {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    align-items: center;
  }

  .nav__list {
    flex-direction: row;
    gap: 33px;
    margin-right: 5px;
  }

  .nav__list--form {
    gap: 34px;
    margin-right: 0;
  }

  .nav__link {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 7px;
  }

  .nav__active-link {
    border-bottom: 2px solid $accent-color;
  }

  .nav__link--active-index {
    border-bottom: 2px solid $accent-color;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    max-width: 600px;
    margin-top: 3px;
    margin-right: 0;
    gap: 34px;
  }

  .nav__link {
    font-size: 20px;
    line-height: normal;
    padding-top: 4px;

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .nav__link--index {
    color: $white-color;

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .nav__active-link {
    border-bottom: 2px solid $accent-color;

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  .nav__link--active-index {
    border-bottom: 2px solid $white-color;

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      opacity: 1;
    }
  }
}
