.product {
  padding-top: 21px;
  padding-bottom: 24px;

  border-top: 1px solid #ebebeb;
}


.product__card-container {
  width: 280px;
  margin: 0 auto;
}

.product__info-container {
  display: flex;
  margin-bottom: 21px;
}

.product__link {
  width: 140px;
}

.product__link--image {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100px;
}


.product__link--title {
  display: block;

  max-width: 76px;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__list-wrapper {
  flex-grow: 1;
}

.product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  margin-bottom: 14px;

  text-transform: uppercase;

  color: #222222;
}

.product__list {
  margin-bottom: 21px;

  @include list-style-none;
}

.product__item {
  display: flex;
  justify-content: space-between;

  gap: 10px;
}

.product__item-name {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product__item-value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;

  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    padding: 11px 37px 40px 37px;

    border: none;
    background: linear-gradient(to bottom, $white-color 81px, $grey-f2-color 81px, $grey-f2-color 100%);
  }

  .product__card-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: auto;
    padding: 0;
  }

  .product__info-container {
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  .product__link--image {
    align-self: center;

    width: 200px;
    min-height: 210px;
    margin-bottom: 22px;
  }

  .product__link--title {
    max-width: 135px;
    margin: 0 auto;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 14px;

    text-align: center;
  }

  .product__list {
    margin-bottom: 31px;
  }

  .product__item {
    border-bottom: 1px solid $grey-cd-color;
  }

  .product__item-name,
  .product__item-value {
    font-size: 16px;
    line-height: 1.9;
  }

  .product__button {
    width: 250px;
    margin: 0;
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    padding-bottom: 39px;
  }

  .product__link--image {
    margin-bottom: 10px;
  }

  .product__title {
    margin-bottom: 16px;
  }

  .product__list {
    margin-right: 1px;
    margin-bottom: 33px;
    margin-left: 2px;
  }

  .product__item-name,
  .product__item-value {
    font-size: 16px;
    line-height: 2.1;
  }

  .product__button {
    width: 169px;
  }
}
