.social {
  @include list-style-none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  flex-shrink: 0;
}

.social--index {
  padding-top: 19px;
}

.social__link {
  &:focus-visible .social__image {
    color: $accent-color;
  }
}

.social__image {
  color: #666666;

  &:hover {
    color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
