.social {
  border-top: 1px solid $grey-color-4;
  border-bottom: 1px solid $grey-color-4;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 132px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: block;
  color: $content-text-color;
  transition: 0.2s ease-in-out;
  padding: 20px 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link:hover {
  color: $accent-bg-color;
}

.social__link:active {
  opacity: 0.3;
  color: $accent-bg-color;
}
