.stats {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.stats__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    gap: 43px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.stats__item {
  position: relative;
  width: 124px;
  border: 1px solid $grey-color-5;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.stats__indicator {
  margin: 0;
  font-family: $accent-font;
  font-size: 24px;
  line-height: 1;
  color: $accent-text-color;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 0 18px;
  }
}

.stats__description {
  margin: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $content-text-color;
  background-color: $grey-bg-secondary-color;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    top: 100%;
    font-size: 13px;
    background-color: $white-color;
    white-space: nowrap;
    padding: 0 5px;
  }

  @media (min-width: $desktop-width) {
    background-color: $disabled-bg-color;
  }
}

.stats__summary {
  font-family: $accent-font;
  line-height: 20px;
  display: flex;
  justify-content: center;
  color: $accent-text-color;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  gap: 3px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
    margin: 0;
  }
}

.stats__price {
  margin: 0;
}

.stats__total {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-self: normal;
  }
}
